<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="rants content">
        <h2>All Rants</h2>

        <% if (rants.length > 0) { %>
            <% rants.forEach(rant => { %>
                <h3 class="title"><%= rant.title %></h3>
                <p class="snippet"><%= rant.snippet %></p>
                
            <% }) %>
        <% } else { %>
            <p>There are no rants to display...</p>
            <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>